/* 共通項目 */
body{
    font-size: 100%;
    font-family: sans-serif,'Oswald' ;
    line-height: 1.7;
}
img{
    max-width: 100%;
    object-fit: contain;
}
section{
    margin-top: 150px;
}
@media screen and (max-width:768px) {
    section{
        margin-top: 80px;
    }
}
@media screen and (max-width:480px) {
    section{
        margin-top: 40px;
    }
}

/* header */
header{
    color: white;
}
.mv{
    background-image: url(../images/mv.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh; 
    margin-top: 1.5rem;
}
.sub-mv{
    width: 35%;
    padding: 35px;
}
.header-text{
    font-family: 'Oswald';
    margin-left: 150px;
    margin-top: 1rem;
}
.header-text h1{
    display: inline-block;
    border-bottom: 1px solid white;
    font-size: 50px;
    letter-spacing: 0.1em;
}
.header-text h2{
    font-size: 30px;
    padding-top: 2rem;
    line-height: 1.7;
    letter-spacing: 0.05em;
}

@media screen and (max-width: 768px) {
    .mv{
        height: 45vh;
        margin-top: 0.5rem;
        text-align: center;
    }
    .sub-mv{
        width: 30%;
        padding: 10px;
    }
    .header-text{
        margin: 0;
    }
    .header-text h1{
        font-size: 1rem;
        letter-spacing: 0.1em;
    }
    .header-text h2{
        font-size: 1rem;
        padding-top: 0.8rem;
        line-height: 1.5;
    }
}
@media screen and (max-width: 480px) {
    .mv{
        height: 40vh;
    }
    .sub-mv{
        width: 40%;
        padding: 5px;
    }
    .header-text h1{
        font-size: 1.5rem;
    }
}

/* top */
.top{
    display: flex;
    justify-content: center;
    align-items: center;
}
.top img{
    width: 100%;
    padding: 5px;
}
@media screen and (max-width: 768px) {
    .top img{
        width: 20%;
    }
}
@media screen and (max-width: 480px) {
   .top img{
       width: 15%;
   }
}


/* foreword */

.foreword-back{
    display: flex;
    justify-content: flex-end;
}
.foreword-contents{
    margin-top: -230px;
}
.foreword-img{
    display: flex;
}
.foreword-img img{
    padding-left: 1rem;
    width: 80%;
}
.foreword-text{
    color: #707070;
}
.foreword-text h2{
    font-size: 35px;
    font-weight: 400;
}
.foreword-text p{
    width: 78%;
    font-size: 20px;
    padding-top: 1rem;
}
.foreword-img-sub{
    width: 25%;
    margin-top: -50px;
}

@media screen and (max-width: 768px) {
    .foreword-back{
        display: none;
    }
    .foreword-contents{
        margin-top: 10px;
    }
    .foreword-img img{
        padding-left: 1rem;
        width: 50%;
        margin-top: 30px;
    }
    .foreword-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .foreword-text h2{
        font-size: 20px;
    }
    .foreword-text p{
        width: 100%;
        font-size: 15px;
    }
    .foreword-img-sub{
        display: none;
    }
}
@media screen and (max-width: 480px) {
    .foreword-img img{
        padding-left: 1rem;
        width: 28%;
        margin-top: 30px;
        justify-content: space-around;
    }
    .foreword-text h2{
        font-size: 20px;
    }
    .foreword-text p{
        width: 80%;
        font-size: 15px;
    }
    
    .foreword-img{
        justify-content: center;
        align-items: center;
    }
}

/* point */
.point{
  width: 100%;
}
.point-smh{
    display: none;
}
@media screen and (max-width: 480px) {
  .point-nomal{
      display: none;
  }
  .point-smh{
      display: inline;
  }
}

/* lineup */
.lineup-img{
    text-align: center;
    width: 100%;
}
.menu-box{
    text-align: center;
    margin-top: 3rem;
    color: #707070;
}
.menu-box h3{
    font-family: 'Oswald';
    font-size: 35px;
}
.menu-box p{
    font-size: 25px;
}
.menu{
    margin-top: -160px;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}
.menu-contents{
    text-align: center;
}
.zoom-box{
    overflow: hidden;	/*拡大時にはみ出た部分を隠す*/
}
.zoom-box img{
    /* display: block; */
	transition-duration: 0.3s;
}
.zoom-box img:hover{
    transform: scale(1.1);	/*画像の拡大率*/
	transition-duration: 0.3s;	/*変化に掛かる時間*/
}
.drinkmenu{
    margin-top: 50px;
}

@media screen and (max-width: 768px) {
    .lineup-img img{
        width: 30%;
    }
    .menu-box h3{
        font-size: 30px;
    }
    .menu-box p{
        font-size: 20px;
    }
    .menu{
        margin-top: -100px;
    }
    .menu-contents img{
        width: 80%;
    }
}
@media screen and (max-width: 480px) {
   .menu-box img{
       display: none;
   }
   .lineup-img img{
    width: 25%;
}
    .menu-box h3{
    font-size: 20px;
}
    .menu-box p{
    font-size: 13px;
}
    .menu{
    margin-top: 30px;
}
    .menu-contents img{
    width: 90%;
}
    .menu-contents p{
        font-size: 10px;
    }
   }

/* rental */
.rentalspace-main{
    background-image: url(../images/rentalspace.png);
    height: 80vh;
    background-size: cover;
}
.rentalspace-sub{
    display: flex;
    justify-content: flex-end;
    margin-top: -300px;
}
.rental-contents{
    display: flex;
    justify-content: space-around;
}
.rental-contents__left{
    width: 45%;
    text-align: center;
    padding-top: 1.5rem;
}
.rental-contents__right{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.rental-text{
    width: 85%;
}
.rental-text h3{
    font-size: 30px;
    padding: 1rem;
}
.rental-text p{
    font-size: 20px;
    padding: 1rem 0;
}

@media screen and (max-width: 768px) {
    .rentalspace-main{
        height: 60vh;
    }
    .rentalspace-sub{
        display: flex;
        justify-content: flex-end;
        margin-top: -200px;
    }
    .rentalspace-sub img{
        width: 38%;
    }
    .rental-contents__left{
        width: 50%;
        padding-top: 5rem;
    }
    .rental-contents__right{
        width: 45%;
    }
    .rental-text{
        width: 85%;
    }
    .rental-text h3{
        font-size: 20px;
    }
    .rental-text p{
        font-size: 15px;
    }
    
}
@media screen and (max-width: 480px) {
    .rentalspace-main{

        background-size: contain;
        background-repeat: no-repeat;
    }
    .rentalspace-sub{
        margin-top: -250px;
        width: 80%;
    }
    .rental-contents{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -2rem;
    }
    .rental-contents__left{
        width: 75%;
        padding-top: 5rem;
    }
    .rental-contents__right{
        margin-top: 2rem;
        width: 80%;
    }
    .rental-contents__right img{
        width: 80%;
    }
    .rental-text{
        width: 100%;
    }
    .rental-text h3{
        font-size: 15px;
    }
    .rental-text p{
        font-size: 10px;
    }
   }

/* access */
.access{
    margin-bottom: 5rem;
}
.access-box{
    display: flex;
    justify-content: space-around;
    color: #707070;
}
.access-text h3{
    font-family: 'Oswald';
    padding: 1rem;
    font-weight: 400;
    font-size: 35px;
}
.access-text p{
    font-size: 20px;
}
.access-span{
    margin-left: 5rem;
}
.access-map__smh{
    display: none;
}

@media screen and (max-width: 768px) {
    .access-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .access-map{
        margin-top: 2rem;
    }
}
@media screen and (max-width: 480px) {
    .access-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .access-map{
        display: none;
    }
    .access-map__smh{
        display: inline;
        margin-top: 3rem;
    }
    .access-text h3{
        font-size: 20px;
    }
    .access-text p{
        font-size: 10px;
    }
}


/* footer */
footer{
    background-color: #454242;
    height: 210px;
    width: 100vw;
}

#back-top a{
    position: fixed;
    right:20px;
    bottom:10px;
    transition: 1s;
    width: 80px;
    height: 80px;
}
 #back-top a:hover{ 
    opacity: 0.75;
}



@media screen and (max-width: 768px) {
    footer{
        height: 180px;
    }
    .footer-item{
        padding-top: 1.75rem;
    }
}
@media screen and (max-width: 480px) {
    footer{
        height: 150px;
    }
    .footer-item{
        padding-top: 1rem;
    }
    #back-top a{
        width: 50px;
        height: 50px;
    }
}